@import url('https://fonts.cdnfonts.com/css/harry-potter');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* Default styling and repeat styling */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #33374B, #0c4c6c);
    overflow-x: hidden;
    color: #fff;
}

h1,
h2,
h3 {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #fff;
}

h1 {
    font-family: Harry Potter, sans-serif;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-start {
    align-items: flex-start;
}

.center {
    text-align: center;
}

.shadow {
    text-shadow: 0px 15px 25px rgba(0, 0, 0, .15), 0px 5px 10px rgba(0, 0, 0, .05);
}

.drop-shadow {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.header-logo {
    margin: 0 auto;
}

.header-logo a {
    justify-content: center;
}

.logo {
    width: 5rem;
    height: fit-content;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .8rem;
}

#hero {
    background: linear-gradient(to right, #33374B, #0c4c6c);
    width: 100%;
    padding: 50px;
    transition: all 0.5s;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
    border: #fff solid 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    padding: .5rem;
}

#main,
#hamburger {
    transition: margin-left .5s;
}

#main {
    padding: 0 5rem 0 5rem;
}


/* HAMBURGER MENU 
Created using information from W3S*/

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 6rem;
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: .8rem .8rem .8rem 3.2rem;
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #aaaaaa;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.64);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.game-header {
    width: 100%;
}

.game-container {
    width: fit-content;
}

.text {
    text-transform: uppercase;
    position: relative;
    font-size: 2rem;
    padding: 3rem;
}

.left-container {
    left: 0;
    width: 30vw;
    position: relative;
    font-size: 2rem;
    margin-right: 1.8rem;
}

.fade {
    transform: scale(0.94);
    animation: scale 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.fade-text {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

.house-container {
    margin: 0 auto;
    right: 0;
    width: 70vw;
    position: relative;
}

.col-1 {
    flex-direction: column;
}

.col-2 {
    flex-direction: column;
}

.house {
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1.5rem 4rem black;
    border-radius: 8px;
    margin: 2rem;
    outline-offset: 1rem;
    cursor: pointer;
}

.house:hover {
    outline: .8rem solid #cec8aa;
    transform: scale(1.05);
}

.house-link {
    display: flex;
    width: 300px;
    height: 300px;
    text-decoration: none;
    justify-content: center;
}

.house-link img {
    padding: 1rem;
}

.small {
    width: 100px;
    height: 100px;
    background-color: #fff;
    margin: 0;
    cursor: auto;
}

.house.small:hover {
    outline: none;
    transform: none;
}


.red {
    background-color: #A6332E;
}

.yellow {
    background-color: #EFBC2F;
}

.blue {
    background-color: #3C4E91;
}

.green {
    background-color: #366447;
}


@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.fade-text:nth-child(1) {
    animation: fade-in 0.4s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.fade-text:nth-child(2) {
    animation: fade-in 0.4s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.fade-text:nth-child(3) {
    animation: fade-in 0.4s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.fade-text:nth-child(4) {
    animation: fade-in 0.4s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.fade-text:nth-child(5) {
    animation: fade-in 0.4s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.fade-text:nth-child(6) {
    animation: fade-in 0.4s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.fade-text:nth-child(7) {
    animation: fade-in 0.4s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.fade-text:nth-child(8) {
    animation: fade-in 0.4s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.fade-text:nth-child(9) {
    animation: fade-in 0.4s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

/* Games Page */
#question {
    color: #dcb45c;
    font-size: 2rem;
    text-shadow: 2px 2px 2px #A6332E;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: 600;
    position: absolute;
    top: 5rem;
}

.choice-text {
    font-size: 1.8rem;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.choice-text>img {
    max-width: 80%;
    max-height: 80%;
}

.small>img {
    max-width: 80%;
    max-height: 80%;
}

.choice {}

/*Score and Progress Bar*/
#game {
    align-items: flex-start;
    position: relative;
    top: 22rem;
}

.question {
}

progress {
    width: 20vw;
    height: 10px;
}

progress:after {
    content: "";
    display: block;
    width: 20vw;
    height: 10px;
    margin-top: -11px;
    border: solid hsl(0, 0%, 90%);
    border-width: 1px 0;
    border-radius: 4px;
    background-position: 0% 0%;
    background-size: 40px 15px;
    background-repeat: repeat-x;
}

progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 4px;
}

progress::-webkit-progress-value {
    background-color: #a6332e;
    border-radius: 4px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}

#scoreboard {
    margin-top: 2rem;
}

.correct-text {
    color: green !important;
}

.incorrect-text {
    color: red !important;
}

.correct {
    outline: .8rem solid green !important;
}

.incorrect {
    outline: .8rem solid red !important;
}

/* Game End*/

.box-score {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: .6rem;
}

.bg {
    background-color: #ececeb80;
    border: 2px solid #fff;
    border-radius: 2rem;
}

#final-score {
    margin-top: 1rem;
    color: #dcb45c;
    letter-spacing: 2.5px;
}

.username {
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    background: transparent;
    width: 50%;
    height: 2.5rem;
    border: #fff solid 0.2rem;
    border-radius: 0.4rem;
    color: #dcb45c;
}

::placeholder {
    color: #dcb45c;
    opacity: .8;
}

.btn {
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    border-radius: 10rem;
    padding: 0.8rem 1.7rem;
    border: #ECECEB solid 0.2rem;
    background-color: #0c4c6c;
    color: #fff;
    text-shadow: 0px 15px 25px rgba(0, 0, 0, .15), 0px 5px 10px rgba(0, 0, 0, .05);
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-left: 1rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #ffffff;
    color: #0c4c6c;
    font-weight: 600;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    border: #0c4c6c solid 0.2rem;
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.form {
    padding: 0 2rem 2rem;
}

/* High Score Table */

#score-page {
    padding-bottom: 2rem;
}

.high-score>img {
    margin-left: 1.5rem;
}

caption {
    font-size: 2.2rem;
    padding-top: 2rem;
    font-weight: bold;
    text-decoration: underline overline;
    text-underline-offset: 15px;
    text-overline-offset: 15px;
}

.table-wrapper {
    border: 2px solid #fff;
    border-radius: 2rem;
}

table {
    padding: 2rem;
    text-align: center;
    color: #dcb45c;
    font-size: 1.7rem;
    text-shadow: 2px 2px 2px #A6332E;
    text-align: left;
    border-spacing: 0;
}

th {
    padding: 10px 20px;
    background-color: #ececeb27;
    text-align: center;
}

th,
td {
    border-style: solid;
    border-width: 0 2px 2px 0;
    border-color: #dcb45c;
}

tbody {
    border: 2px solid #dcb45c;
}

td {
    width: 6rem;
    padding: .4rem;
    color: #fff;
}

td .house {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

th:first-child {
    border-top-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
    border-right: none;
}

th:first-child,
td:first-child {
    padding: 7px 8px;
}

tr td:last-child {
    border-right: none;
}

tr td:nth-child(2) {
    text-align: center;
}

.light {
    background-color: #ffffff;
    color: #0c4c6c;
    font-weight: 600;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    border: #0c4c6c solid 0.2rem;
    margin: .8rem 0 .8rem;
}

.light:hover {
    border: #ECECEB solid 0.2rem;
    background-color: #0c4c6c;
    color: #fff;
}

/* Footer */
#footer {
    width: auto;
    text-align: center;
    padding: 3rem 0 2.5rem;
}

.social-networks {
    list-style: none;
    justify-content: center;
    align-items: center;
}

.social-networks li {
    padding: 1rem 2rem 1rem;
}

.social-networks i {
    font-size: 2rem;
    color: #fff;
}

.social-networks i:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}